body{
    background-color: #99CCFF !important;
}
/*grid konteiner*/

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'menu header header header header header'
    'menu main main main main main'
    'footer footer footer footer footer footer'; }
.item1 {  
     background-color: #C0C0C0;
    margin-left: 10px;
    padding-bottom:5px;
    margin-right: 5px;
   
 
  
}
.item2 {
	margin-top:20px;
    
 


}
.item3 {
     background-color: whitesmoke;
     margin-left: 10px;
    margin-right: 5px;
    
}

}

.item4 {
background-color: #C0C0C0;
	
}




/*menüü*/
.menu{

}
.menu a{	
	color: black;
    width: 150px;
    margin-left: -20px;
    border:1px;
    border-style: outset;
    border-color: lightgray;
    font-weight: bold;
  
  
    
  
	
 }
.menu a:link{
    background-color: #C0C0C0;
    border-radius: 8px;
    padding: 2px 4px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    margin-bottom:5px;	
    font-size: 13px;  
   
}

.menu a:hover, .menu a:active {
  background-color: gray;
  color: white;
}

.search_menu{
	margin-left:50px;
    margin-top: 10px;
	
}
.search_menu button{
	margin-left:5px;
	font-size:14px;
	border-radius: 4px;
	background-color:white;
	border: 1px solid gray;

}
.search_menu button:hover{
	background-color:gray;
	color: white;
}



/*tabelid*/
#editable_table{
	font-size:12px;
	margin-top:10px;
	margin-left:-50px;
	table-layout: fixed;
	 width: 100%;
}

#editable_table th, #editable_table td {
  padding: 2px;
}

/*lehekülgede nummeratsioon*/
#pagination a:hover {
	background-color: #ccc;
	
}
#pagination {
	background-color: #C0C0C0;
    margin-top: -10px;
	
}
#pagination a {
	padding:2px 4px;

	color:black;
	text-decoration: none;  
	font-size:12px;	
  }
/*form/*/
.vorm{

}	
.vorm input[type=submit] {

	padding: 4px 8px;
	border: none;
	border-radius: 4px;
	background-color:white;
	border: 1px solid gray;
	margin-bottom:-50px;
	font-size: 13px;  
}
.vorm input[type=text], .vorm select {

  padding:4px 8px;
  border: 1px solid gray;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 12px;  
}

.vorm{
	font-size:12px;
    
}	
.vorm1 input[type=submit] {

	padding: 4px 8px;
	border: none;
	border-radius: 4px;
	background-color:white;
	border: 1px solid gray;
	margin-bottom:-50px;
	font-size: 13px;  
}
.vorm1 input[type=text], .vorm1 select {

  padding:4px 8px;
  border: 1px solid gray;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 12px;  
}
/*andmete lisamine*/
.add_data{
	margin-left:50px;
	
}
.add_data table{
	margin-left:70px;
	margin-top:50px;

}
.add_data input[type=text]{
	width:100%;
	padding:4px 8px;
	border: 1px solid gray;
	border-radius: 4px;
	box-sizing: border-box;
	font-size: 12px;  
}
.add_data button{
	font-size:14px;
	border-radius: 4px;
	background-color:white;
	border: 1px solid gray;
}
.add_data button:hover{
	background-color:gray;
	color: white;
}	
/*laenutamine ja mahakandmine */
.borrow{
	margin-left:50px;
}	
/*back button */
.back_but button{
	font-size:14px;
	border-radius: 4px;
	background-color:white;
	border: 1px solid gray;
}

 

    .container-fluid{
        margin-top: 20px;
      
