/*grid konteiner*/
.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'menu header header header header header'
    'menu main main main main main'
    'footer footer footer footer footer footer';
 }
.item1 { 

	margin-top:15px;
}
.item1 button{
	border-radius: 4px;
	background-color: white;
	font-size: 13px; 
	border: 1px solid purple;
 }


.item2 {
	margin-top:20px;

}
.item3 {

}

.item4 {

	
}




/*menüü*/
.menu{

}
.menu a{
	
	color: black;
	border: 2px solid purple;
	border-radius: 4px;
	padding: 1px 1px;
	text-align: left;
	text-decoration: none;
	display: inline-block;	
	font-size: 13px;  
	margin-bottom:5px;	
	
 }
.menu a:hover{
	background-color: purple;
	color: white;
	text-decoration: none;
 }





/*tabelid*/
#editable_table{
	border-collapse: collapse;
	font-size:12px;

}	
#editable_table th{
	background-color: #e9d3ff;		
}
#editable_table th, #editable_table td{	
  border: 1px solid grey;  

}
#editable_table tr:nth-child(even){background-color: #f2f2f2}
#editable_table tr:hover{
	background-color: #e9d3ff;
}
#pagination a {
   padding:4px 8px;
   border:1px solid #ccc;
   color:#333;
	text-decoration: none;   
	margin-top:50px;
  }
	#pagination a:hover {
	background-color: #ccc;
}



body{

}

